.footer {
height: 100%;

}

iframe {
    width: 100%; /* Занимает всю ширину родительского элемента */
    height: 500px; /* Высота карты */
    border: none; /* Убираем границу */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Добавляем тень */
}