 @media (max-width: 2010px) {
    div .button-section {
        margin-left: 0;
    }
} 

@media (max-width: 1844px) {
    

    .input-row .name-input, .input-row .email-input {
        width: 250px;
    }


    .message-input {
        width: 715px;
    }

    div .kontakt-info {
        margin: 0 0 0 10px;
    } 
}

@media (max-width: 1715px) {

    div .kontakt-info {
        margin-top: 100px
    }

    .div .kontaktformall {
        width: 170px;
        
    }

    /* .input-row .name-input, .input-row .email-input {
        width: 350px;
    }


    .message-input {
        width: 915px;
    }
} */

}

@media (max-width: 1629px) {

    div .input-row {
        margin-top: 50px;
    }
    div.allpagekontakt {
        width: 100%;
        height: 1030px;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }


        div.kontaktinfo {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-top: 150px;
           
          

   }

        div.kontakt-info {
            width: 460px;
            height: 200px ;
            
        }
    div.kontaktformall {
        margin: 100px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: column;

    }




        
      
        






    div.message {

    width: 100px;
    height: 200px;
    align-items: center;
    margin: 0;
    justify-content: flex-start;

    
}  
    div .email {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
}
.input-row .email-label, .input-row .name-label {
    width: 500px;
    justify-content: center;
}


div.name {
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    
   
}

 div.email {
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    
   
}

div.message{
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    
   
}
.input-row .email-input, .input-row .name-input {
    width: 500px;
    justify-content: center;
}





    
    
    li.header_logo {
        margin: 10px 45px;
    }

    .header_logo {
        margin: 20px 0 
    }
    .kontaktformall .kontaktform {
       width: 500px;
       margin: 0;
    }
  
    .kontakt-form, .input-row, .message{
        display: flex; 
        flex-direction: column;
        width: 500px;
        margin-top: 0px;
        align-items: center;
    }

    .name, .email .message {    
        display: flex;
        flex-direction: column; 
        align-items: flex-start;
             
    }
    .name {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .email {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 0;
    }
    .input-row .email-label {
        display: flex;
        justify-content: center;
        
        flex-wrap: nowrap;
        margin: 50px 0 0 0;

        
    }
    .name, .email, .message {
        
        display: flex;
      
        flex-direction: column;
    }

    .message .message-input {
        margin:  0;
        /* position: relative; */
        width: 100%; */
        display: flex: ;
        flex-direction: column;
        align-items: center;
        justify-content: center;
       
        
    }

    .message-label {
        height: 25px;
        margin: 50px 0 0 0 ;
    }

    .message {
        display: flex; 
        margin-top: 80px;

    }

    .kontakt-form {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-left: 0;
    }
    div.kontaktinfo {
        height:200px;
    }

  div .button-section {
    margin-left: 0;
  }
    
    .hamburger {
        display: none; 
    }
    .button-section{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
    }

    .submit-button {
       
        margin: 20px 0;
    }

}




@media (max-width: 1353px) {
    div .kontaktinfo {
      margin-top: 30px;
}

    div .kontaktinfo {
        margin-top: 100px;;
        
    }


}

@media (max-width: 1230px) {
    .input-row {
        display: flex; 
        flex-direction: column;
        
       
    }
    

    div.message {
       
        width: 570px;
        height: 200px;
       
        
    }
   
    .allpagekontakt {
       
        height: 580px;
    }
   
   
   
   
    .header_logo img  {
        height: 50px;
        width: auto;
    }

    
    ul.menu {
        height: 55px;
        padding: 0px ;
        margin-top: 0;
    }

    
    .menu .menu_link {
        color: #000000;
        font-size: 16px;
        margin: 0 40px 0 20px; /* Измените это свойство */
        list-style-type: none;
    }
}
 

/*    .container  section .carousel {
        display: flex;
        justify-content: center;
    } */
@media (max-width: 1091px) {
    
}


@media (max-width: 992px) {

    li.header_logo {
        margin: 0 50px 0 50px;
    } 

    .allpagekontakt {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 700px;
        
    }
}
   




@media (max-width: 860px) {
        li.header_logo {
             margin: 0 15px ;
    } 
}



@media (max-width: 767px) {
        .header_logo img  {
                height: 30px;
                width: auto;
        }
    
        ul.menu {
            height: 10px;
            padding: 20px 15px;
            
        }
        .menu .menu_link {
            color: #000000;
            font-size: 10px;
            list-style-type: none;
            color: #000000;
            margin: 0 20px 0 10px; /* Измените это свойство */
            list-style-type: none;
        }
        section .carousel {
            display: flex;
            justify-content: center;
        }
    
        .prev, .next, .carousel-caption {
            display: none;
        }
    
        .carousel-item img, .carousel-item.active img {
            width: 100%;
            height: 100%;
            object-fit: cover; /* Это свойство гарантирует, что изображения будут масштабироваться так, чтобы заполнить область карусели, сохраняя при этом свои пропорции */
        }

        div .message {
            width: 500px
        }

        .input-row .name-input, .input-row .email-input {
            width: 300px;
           
        }
        div .message {
            width: 300px;
        
        }
    }
        
    
    @media (max-width: 576px) {
    ul.menu { 
            position: fixed;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            top: 0;
            left: -100%;   
            width: 60%;
            height: 100vh;
            padding: 20px 15px;
            background-color: rgba(0, 0, 0, .8);
            transition: 0.6s all; 
            margin-top: 0;
        }
    
    ul.menu_active {
            left: 0;
        }  
    
    .menu .hamburger {
        display: block;
        position: fixed;
        top: 20px;
        right: 10px;
        transform: translateY(-50%);
        cursor: pointer;
        z-index: 1000;
        width: 20px;
        height: 20px;
       /*  margin-top: 10px; */
    }
    
    .hamburger span {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #000000;
        margin-bottom: 2px;
        transition: 0.5s all; 
    }
    
    .hamburger_active span {
        margin-bottom: -2px;
    }
    
    .hamburger_active span:nth-child(1) {
        transform: translateY(2px) rotate(-45deg);
    }
    
    .hamburger_active span:nth-child(2) {
        display: none;
    }
    
    .hamburger_active span:nth-child(3) {
        transform: translateY(2px) rotate(45deg);
    }
    
    
    .header_logo img {
        height: 60px;
        width: auto;
        margin-top: 0;
    }
    
    .menu .menu_item, .menu .menu_item_kontakt, .menu .menu_link {
        color: #ffffff;
        font-size: 16px;
        margin: 20px 0;
    }
    section .carousel {
        display: flex;
        justify-content: center;
    }
    
    .prev, .next, .carousel-caption {
        display: none;
    }
    
    .carousel-item img, .carousel-item.active img {
        width: 100%;
        height: 100%;
        object-fit: cover; /* Это свойство гарантирует, что изображения будут масштабироваться так, чтобы заполнить область карусели, сохраняя при этом свои пропорции */
    }
    div .my-flex-block-text {
        font-size: 8px;
    }
    div .kontakt-info {
        width: 300px;
        margin-top: 0;
        
    }
    h2 {
        font-size: 16px;
    }

    p {
        font-size: 12px;
    }

    
} 
    