.header {
    /* position: fixed;   */
    top: 0;
    width: 100%; 
    height: 500px;
    z-index: 100;
}


.menu {
    position: fixed;  
    display: flex;
    align-items: center;
    font-style: normal;
    list-style-type: none;
    font-weight: bold;
    background-color: rgba(165, 157, 157, 0.212);
    top: 0;
    width: 100%; 
    height: 140px;
    z-index: 100;
}

.menu .menu_link .header {
    /* position: fixed;   */
    top: 0;
    width: 100%; 
    height: 500px;
    z-index: 100;
}


.menu {
    position: fixed;  
    display: flex;
    align-items: center;
    font-style: normal;
    list-style-type: none;
    font-weight: bold;
    background-color: rgba(165, 157, 157, 0.212);
    top: 0;
    width: 100%; 
    height: 120px;
    z-index: 100;
}

.menu .menu_link {
    color: #000000;
    font-size: 28px;
    margin: 0 40px 0 20px; /* Измените это свойство */
    list-style-type: none;
}

.menu .menu_item, .menu .menu_item_kontakt {
    display: inline-block;
   /*  margin-left: 20px; */
}

.menu .menu_item_kontakt {
    margin-left: 200px;
} 

.header_logo {
    margin: 0 450px 0 0; /* Добавьте это свойство */
}

.header_logo img {
    width: 300px;
    height: auto;
}

/* .header:hover .header_logo img {
    transform: scale(1);
}
 */
.button {
    display: inline-block;
    background-color: #2155a3a1; /* Цвет фона */
    color: white; /* Цвет текста */
    padding: 8px 16px;  /* Отступы внутри кнопки */
   /*  margin: 0 0 0 5px; */  /* Отступы вокруг кнопки */
    border: none; /* Убираем рамку */
    cursor: pointer; /* Делаем курсор в виде руки при наведении */
    width: auto; /* Ширина кнопки */
    text-align: center; /* Выравнивание текста по центру */
    /* transition-duration: 0.4s;  *//* Длительность эффекта наведения */
    text-decoration: none; /* Убираем подчеркивание текста */
    border-radius: 5px; /* Добавьте это свойство */
}

.button:hover {
    background-color: 2155a3a1; /* Цвет фона при наведении */
    color: white; /* Цвет текста при наведении */
    list-style-type: none;
}
    




.menu .menu_item_kontakt {
    margin-left: 200px;
} 

.header_logo {
    margin: 0 450px 0 0; /* Добавьте это свойство */
}

.header_logo img {
    width: 300px;
    height: auto;
}

/* .header:hover .header_logo img {
    transform: scale(1);
}
 */
.button {
    display: inline-block;
    background-color: #2155a3a1; /* Цвет фона */
    color: white; /* Цвет текста */
    padding: 8px 16px;  /* Отступы внутри кнопки */
   /*  margin: 0 0 0 5px; */  /* Отступы вокруг кнопки */
    border: none; /* Убираем рамку */
    cursor: pointer; /* Делаем курсор в виде руки при наведении */
    width: auto; /* Ширина кнопки */
    text-align: center; /* Выравнивание текста по центру */
    /* transition-duration: 0.4s;  *//* Длительность эффекта наведения */
    text-decoration: none; /* Убираем подчеркивание текста */
    border-radius: 5px; /* Добавьте это свойство */
}

.button:hover {
    background-color: 2155a3a1; /* Цвет фона при наведении */
    color: white; /* Цвет текста при наведении */
}