* {
    font-family: 'Roboto', sans-serif;
}

header {
    position: fixed;  
    width: 100%; 
    height: 150px;
    z-index: 100; /* Убедитесь, что заголовок всегда находится над другими элементами */
}


.menu {
    display: flex;
    align-items: center;
    margin-top: 0;
    justify-content: space-between;
    font-style: normal;
    list-style-type: none;
    font-weight: bold;
}

.menu .menu_link {
    color: #000000;
    font-size: 40px;
    margin: 0 100px; /* Измените это свойство */
    list-style-type: none;
}

.header_logo img {
    width: 300px;
    height: auto;
}

/* .header:hover .header_logo img {
    transform: scale(1);
}
 */
.button {
    display: inline-block;
    background-color: #2155a3a1; /* Цвет фона */
    color: white; /* Цвет текста */
    padding: 14px 20px;  /* Отступы внутри кнопки */
    margin: 0;  /* Отступы вокруг кнопки */
    border: none; /* Убираем рамку */
    cursor: pointer; /* Делаем курсор в виде руки при наведении */
    width: auto; /* Ширина кнопки */
    text-align: center; /* Выравнивание текста по центру */
    /* transition-duration: 0.4s;  *//* Длительность эффекта наведения */
    text-decoration: none; /* Убираем подчеркивание текста */
    border-radius: 5px; /* Добавьте это свойство */
}

.button:hover {
    background-color: 2155a3a1; /* Цвет фона при наведении */
    color: white; /* Цвет текста при наведении */
}